@font-face {
    font-family: 'Archive';
    src: url('archive.eot');
    src: url('archive.eot?#iefix') format('embedded-opentype'),
         url('archive.woff2') format('woff2'),
         url('archive.woff') format('woff'),
         url('archive.ttf') format('truetype'),
         url('archive.svg#archiveregular') format('svg');
    font-weight: normal;
    font-style: normal;
}