//   _____ _           _       _   
//  |  _  | |_ ___ ___| |_ ___| |_ 
//  |     | '_|  _| . | . | .'|  _|
//  |__|__|_,_|_| |___|___|__,|_|  


//    Font Weight guide:
//    ------------------
//    100 - thin
//    200
//    300 - light
//    400 - regular
//    500 - medium
//    600
//    700 - bold
//    800
//    900 - black / heavy



@font-face {
    font-family: 'akrobat';
    src: url('akrobat-thin.eot');
    src: url('akrobat-thin.eot?#iefix') format('embedded-opentype'),
         url('akrobat-thin.woff2') format('woff2'),
         url('akrobat-thin.woff') format('woff'),
         url('akrobat-thin.ttf') format('truetype'),
         url('akrobat-thin.svg#akrobatthin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'akrobat';
    src: url('akrobat-extralight.eot');
    src: url('akrobat-extralight.eot?#iefix') format('embedded-opentype'),
         url('akrobat-extralight.woff2') format('woff2'),
         url('akrobat-extralight.woff') format('woff'),
         url('akrobat-extralight.ttf') format('truetype'),
         url('akrobat-extralight.svg#akrobatextralight') format('svg');
    font-weight: 200;
    font-style: normal;

}

@font-face {
    font-family: 'akrobat';
    src: url('akrobat-light.eot');
    src: url('akrobat-light.eot?#iefix') format('embedded-opentype'),
         url('akrobat-light.woff2') format('woff2'),
         url('akrobat-light.woff') format('woff'),
         url('akrobat-light.ttf') format('truetype'),
         url('akrobat-light.svg#akrobatlight') format('svg');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'akrobat';
    src: url('akrobat-regular.eot');
    src: url('akrobat-regular.eot?#iefix') format('embedded-opentype'),
         url('akrobat-regular.woff2') format('woff2'),
         url('akrobat-regular.woff') format('woff'),
         url('akrobat-regular.ttf') format('truetype'),
         url('akrobat-regular.svg#akrobatregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'akrobat';
    src: url('akrobat-semibold.eot');
    src: url('akrobat-semibold.eot?#iefix') format('embedded-opentype'),
         url('akrobat-semibold.woff2') format('woff2'),
         url('akrobat-semibold.woff') format('woff'),
         url('akrobat-semibold.ttf') format('truetype'),
         url('akrobat-semibold.svg#akrobatsemibold') format('svg');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'akrobat';
    src: url('akrobat-bold.eot');
    src: url('akrobat-bold.eot?#iefix') format('embedded-opentype'),
         url('akrobat-bold.woff2') format('woff2'),
         url('akrobat-bold.woff') format('woff'),
         url('akrobat-bold.ttf') format('truetype'),
         url('akrobat-bold.svg#akrobatbold') format('svg');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'akrobat';
    src: url('akrobat-extrabold.eot');
    src: url('akrobat-extrabold.eot?#iefix') format('embedded-opentype'),
         url('akrobat-extrabold.woff2') format('woff2'),
         url('akrobat-extrabold.woff') format('woff'),
         url('akrobat-extrabold.ttf') format('truetype'),
         url('akrobat-extrabold.svg#akrobatextrabold') format('svg');
    font-weight: 800;
    font-style: normal;

}

@font-face {
    font-family: 'akrobat';
    src: url('akrobat-black.eot');
    src: url('akrobat-black.eot?#iefix') format('embedded-opentype'),
         url('akrobat-black.woff2') format('woff2'),
         url('akrobat-black.woff') format('woff'),
         url('akrobat-black.ttf') format('truetype'),
         url('akrobat-black.svg#akrobatblack') format('svg');
    font-weight: 900;
    font-style: normal;

}



























