//    Font Weight guide:
//    ------------------
//    100 - thin
//    200
//    300 - light
//    400 - regular
//    500 - medium
//    600
//    700 - bold
//    800
//    900 - black / heavy


// Regular
@font-face {
    font-family: 'clearsans';
    src: url('clearsans-regular.eot');
    src: url('clearsans-regular.eot?#iefix') format('embedded-opentype'),
         url('clearsans-regular.woff2') format('woff2'),
         url('clearsans-regular.woff') format('woff'),
         url('clearsans-regular.ttf') format('truetype'),
         url('clearsans-regular.svg#clearsans') format('svg');
    font-weight: normal;
    font-style: normal;

}

// Italic
@font-face {
    font-family: 'clearsans';
    src: url('clearsans-italic.eot');
    src: url('clearsans-italic.eot?#iefix') format('embedded-opentype'),
         url('clearsans-italic.woff2') format('woff2'),
         url('clearsans-italic.woff') format('woff'),
         url('clearsans-italic.ttf') format('truetype'),
         url('clearsans-italic.svg#clearsans-italic') format('svg');
    font-weight: normal;
    font-style: italic;

}

// Bold
@font-face {
    font-family: 'clearsans';
    src: url('clearsans-bold.eot');
    src: url('clearsans-bold.eot?#iefix') format('embedded-opentype'),
         url('clearsans-bold.woff2') format('woff2'),
         url('clearsans-bold.woff') format('woff'),
         url('clearsans-bold.ttf') format('truetype'),
         url('clearsans-bold.svg#clearsans-bold') format('svg');
    font-weight: bold;
    font-style: normal;

}

// Bold Italic
@font-face {
    font-family: 'clearsans';
    src: url('clearsans-bolditalic.eot');
    src: url('clearsans-bolditalic.eot?#iefix') format('embedded-opentype'),
         url('clearsans-bolditalic.woff2') format('woff2'),
         url('clearsans-bolditalic.woff') format('woff'),
         url('clearsans-bolditalic.ttf') format('truetype'),
         url('clearsans-bolditalic.svg#clearsans-bold-italic') format('svg');
    font-weight: bold;
    font-style: italic;

}
